@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --color-brand: #336DFF;
  --color-black: oklch(15% 0 0);
  --color-accent: oklch(84.41% 0.0789 282.71);
  --color-gray: oklch(37.3% 0.034 259.733);
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-plus-jakarta-sans);
    font-weight: 500;
    background-color: var(--color-white);
    color: var(--color-black);
  }
}